doctype html
head
  include ./src/_includes/vars.jade 
  include ./src/_includes/mixins 
  title #{name}
  meta(charset='utf-8')
  link(href='main.css', rel='stylesheet', type='text/css')
  link(rel='shortcut icon', src='../img/favicon.ico')
body
  header.header-details
    h1.name #{name} |
    article.links-container
      a.links(href='https://github.com/#{githubUSER}', target='_blank')
        i.fa.fa-github
      | GitHub
      a.links(href='#{linkedin}', target='_blank')
        i.fa.fa-linkedin-square
      | LinkedIn
    br
    article.contact-information
      if (address)
        p.contact-deets #{address} |&nbsp;
        p.contact-deets #{location} |&nbsp;
        
      p.contact-deets #{phone} |&nbsp;
     // a.links(href='mailto:#{email}') e: #{enail}
  section.content
    +section-head('Summary')
    p.category-description-main.
      #{blurb}
    +section-head('Education')
    +experience('Galvanize gSchool', 'Denver, CO', 'September 2013–February 2014')
      | Lick plastic bags poop in the plant pot or you call this cat food? 
    +experience('Kansas City Art Institute','Kansas City, MO', 'BFA, Graphic Design','Dean\'s List 2004–2007')
    +section-head('Code')
    +code('Ears Back', 'github.com/LouisaBarrett/SocialSmarts')
      | Run in circles, and scratch the furniture and knock dish off table head butt cant eat out of my own dish please stop looking at your phone and pet me. 
    +code('Wide-Eyed', 'github.com/LouisaBarrett/fundit')
      | Plan steps for world domination spread kitty litter all over house or stretch. 
    +code('Checker Board', 'github.com/LouisaBarrett/checkers')
      | Find empty spot in cupboard and sleep all day so purr while eating.
    +code('Command Query', 'github.com/LouisaBarrett/command-query_practice')
      | Purr while eating groom yourself 4 hours - checked, have your beauty sleep 18 hours - checked, be fabulous for the rest of the day - checked!
    +code('Résumé', 'github.com/LouisaBarrett/resume')
      | Take a look under the hood of this page on GitHub (or see the PDF print version 
      a.links(href='http://f.cl.ly/items/2D2S2u0L0Z2B3x0o3X1Y/LouisaBarrett_resume.pdf', target='_blank') here
      | ). Constructive feedback is always welcome and appreciated.
    +section-head('Professional Experience')
    +experience('ECOS Communications','Boulder, Co', 'Chase Imaginary Bugs', '2008–2013')
      |  Sleep on keyboard chase laser paw at your fat belly yet destroy couch as revenge. Toy mouse squeak roll over walk on car leaving trail of paw prints on hood and windshield but claws in your leg and brown cats with pink ears. 
    +experience('Hero Design Studio','Denver, Co', 'Contract Production Artist', 'Fall 2008')
    +experience('Archetype 5', 'Boulder, CO', 'Graphic Designer', '2007-2008')
    +experience('Workshop Design, Inc.', 'Kansas City, MO', 'Intern, print and environmental design', '2006')