doctype html
head
  include ./_includes/vars.jade 
  include ./_includes/mixins 
  title #{name}
  meta(charset='utf-8')
  link(href='build/main.css', media='screen', rel='stylesheet', type='text/css')
  link(rel='shortcut icon', src='../img/favicon.ico')
body
  header.header-details
    h1.name #{name} |
    article.links-container
      a.links(href='https://github.com/#{githubUSER}', target='_blank')
        i.fa.fa-github
      | GitHub
      a.links(href='#{linkedin}', target='_blank')
        i.fa.fa-linkedin-square
      | LinkedIn
    br
    article.contact-information
      if (address)
        p.contact-deets #{address} |&nbsp;
        p.contact-deets #{location} |&nbsp;
      p.contact-deets #{phone} |&nbsp;
      a.links(href='mailto:#{email}') e: #{email}
  section.content
    +section-head('Summary')
    p.category-description-main.
      #{summary}
    +section-head('Education')
    +experience('Galvanize gSchool', 'Denver, CO', 'September 2013–February 2014')
      | 6-month intensive Ruby on Rails developer training program emphasizing TDD and pair programming
    +experience('Kansas City Art Institute','Kansas City, MO', 'BFA, Graphic Design','Dean\'s List 2004–2007')
    +section-head('Code')
    +code('Social Smarts', 'github.com/LouisaBarrett/SocialSmarts')
      | As part of a five-person team and using the Twitter and Klout APIs, created a social media management app that allows a user to process incoming tweets based on various criteria. Primary role was designing and building the front-end from scratch, emphasizing a straightforward and simple experience for the user.
    +code('FundIt', 'github.com/LouisaBarrett/fundit')
      | A small, solo project creating a fund-raising site built to practice using Ruby, Rails and RSpec.
    +code('Checker Board', 'github.com/LouisaBarrett/checkers')
      | Practicing Ruby fundamentals by building a game-board for a game of checkers.
    +code('Command Query', 'github.com/LouisaBarrett/command-query_practice')
      | Solutions to a series of kata-like tests practicing how objects change in Ruby
    +code('Résumé', 'github.com/LouisaBarrett/resume')
      | Take a look under the hood of this page on GitHub (or see the PDF print version 
      a.links(href='http://f.cl.ly/items/2D2S2u0L0Z2B3x0o3X1Y/LouisaBarrett_resume.pdf', target='_blank') here
      | ). Constructive feedback is always welcome and appreciated.
    +section-head('Professional Experience')
    +experience('ECOS Communications','Boulder, Co', 'Senior Graphic Designer, museum and exhibit graphics', '2008–2013')
      | Graphic Design project lead: responsible for the creation, development and production management of large- and small-scale cultural history and conservation education projects for a range of clients and uses.
    +experience('Hero Design Studio','Denver, Co', 'Contract Production Artist', 'Fall 2008')
    +experience('Archetype 5', 'Boulder, CO', 'Graphic Designer', '2007-2008')
    +experience('Workshop Design, Inc.', 'Kansas City, MO', 'Intern, print and environmental design', '2006')